<h1>Stock de Products</h1>

 
 <table *ngIf="productArr.length>0;else noProduct"  class=" table text=center">
    <thead>
        <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="body" *ngFor="let p of productArr">
        <tr>
            <td>{{p.code}}</td>
            <td>{{p.description}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.price}}</td>
            <td><button class="btn btn-danger mx-3" >Borrar</button>
            <button class="btn btn-primary" (click)="selectProduct(productArrNew)">Seleccionar</button></td>
        </tr>

    </tbody>

</table>
<ng-template #noProduct>no hay productos </ng-template>

<form class="">
    <h2>Product</h2>
    <p>Code :<input type="text" id="code" name="code" [(ngModel)]="productArrNew.code"></p>
    <p>Description:<input type="text" id="description" name="description" [(ngModel)]="productArrNew.description"></p>
    <p>quantity :<input type="text" id="quantity" name="quantity" [(ngModel)]="productArrNew.quantity"></p>
    <p>Price :<input type="text" id="price" name="price" [(ngModel)]="productArrNew.price"></p>
    <button class="btn btn-success" (click)="addProduct()">Add</button>
    <button class="btn btn-warning" (click)="modifyProduct()">Modify</button>
    <button class="btn btn-warning" type="reset">Reset</button>

</form>

