<h1>Stock de Products</h1>

 
 <table *ngIf="productArr.length>0;else noProduct"  class=" table text=center">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="body" *ngFor="let p of productArr">
        <tr>
            <td>{{p.codigo}}</td>
            <td>{{p.descripcion}}</td>
            <td>{{p.cantidad}}</td>
            <td>{{p.precio}}</td>
            <td><button class="btn btn-danger mx-3" >Borrar</button>
            <button class="btn btn-primary" >Seleccionar</button></td>
        </tr>

    </tbody>

</table>
<ng-template #noProduct>no hay productos </ng-template>

<form class="">
    <h2>Procuct</h2>
    <p>Codigo :<input type="text" ></p>
    <p>Descripcion :<input type="text" ></p>
    <p>Cantidad :<input type="text" ></p>
    <p>Precio :<input type="text" ></p>
    <button class="btn btn-success">Agregar</button>
    <button class="btn btn-warning">Modificar</button>
    <button class="btn btn-warning" type="reset">limpiar</button>

</form>

